body{
    background-color: black;
    color: white;
}

.grid, .grid2, .grid3, .grid4{
    border: solid white;
    display: grid;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 10px;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    gap: 5px;
    /* align-items: center; */
    justify-content: center;
}

.gridItem{
    background-color: red;
    border: solid cyan 0.1px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.grid2{
    grid-template-rows: 1fr 20% 20%;
    height: 25vh;
    grid-template-columns: 70% 30%;
}

.gridItem2{
    background-color: cyan;
    border: solid red 0.1px;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.grid3{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* 100px is min value and 1fr is max value */
    justify-content: center;
    align-items: center;

}

.gridItem3{
    background-color: lightcoral;
    border: solid white 0.1px;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.gridItem4{
    background-color: lightgreen;
    border: solid white 0.1px;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

#gridItem41{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}